@model IEnumerable<BookClub.BLL.DTO.BookDTO>

<h2>Доступные книги</h2>

 <a asp-action="Login" asp-controller="Account">Войти под другим логином</a>
 <p>
    <a asp-action="UserReadBook" asp-controller="Home">Мои прочитанные книги</a>

<div class="validation" asp-validation-summary="ModelOnly"></div>

        <table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
        <div>
            <form method="post" >
                <div class="form-group">
                                <input type="submit" value="Добавить в прочитанные" asp-action="AddBookToUser" asp-controller="Home" asp-route-Id="@item.Id" class="btn btn-outline-dark" />
                </div>
            </form>
        </div>
            </td>
        </tr>
    }
</table>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}